@charset "utf-8";

/***** Overriden jQuery Mobile Styles *****/
.ui-panel-wrapper {
	background: white !important;
}

.ui-corner-all {
	margin-bottom: 1em;
}

.ui-bar-a {
	background: #eef3fd;
}

.ui-body-a {
	border-left: none;
	border-right: none;
}

.ui-grid-a .ui-block-a,
.ui-grid-a .ui-block-b 
{
	padding: 0.2em;
}

.ui-collapsible-content {
	overflow: auto;
}


.ui-corner-none {
	border-style: none !important;
	background-color: rgba(0, 0, 0, 0) !important;
}

/* Disable jquery mobile truncate header text for long text */
.ui-header .ui-title{
	white-space: pre !important;           /* CSS 2.0 */
	white-space: pre-wrap !important;      /* CSS 2.1 */
	white-space: pre-line !important;      /* CSS 3.0 */
	white-space: -pre-wrap !important;     /* Opera 4-6 */
	white-space: -o-pre-wrap !important;   /* Opera 7 */
	white-space: -moz-pre-wrap !important; /* Mozilla */
	white-space: -hp-pre-wrap !important;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
}

.jqmMenuItem > a {
	color: rgb(0, 245, 179) !important;
}

@media (min-width: 480px) {
	.ui-field-contain {
		margin: 0.2em 0;
		vertical-align: middle;
	}

/*
	.ui-field-contain > label {
		font-size: 0.8em;
	}
*/
}


.page-title {
	font-size: 1.5em;
	color: #38c;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 1em;
}

.center {
	margin: 0 auto;
}

.center-text {
	display: block;
	text-align: center;
}

.required-mark {
	display: none;
}

[data-required=true] .required-mark {
	display: inline;
	color: red;
}

.translucent-60 {
	background: rgba(255, 255, 255, 0.6);
}

.confirm-button {
	background-color: #387cbb !important;
	color: white !important;
	font-weight: normal !important;
	text-shadow: none !important;
}

/**** Tables ****/
.table-header {
	background: #eef3fd;
	font-weight: bold;
	font-size: 0.8em;
}

.table-key {
	background: #fafcfe;
	font-weight: bold;
	font-size: 0.8em;
	margin-top: 1.5em !important;
}

.table-data {
	font-size: 0.7em;
}

.table-text {
	font-size: 0.7em;
}

.table-footer:first-child {
	background: #eef3fd;
	font-weight: bold;
	font-size: 0.8em;
	margin-top: 1.5em;
}

@media print, screen and (min-width: 480px) {
	.table-header {
		background: #eef3fd;
		border: 1px solid rgb(204, 204, 204);
		border-top: 1px solid rgb(80, 80, 80);
		text-align: center !important;
	}

	.table-header:first-child {
		border-left: none;
	}

	.table-header:last-child {
		border-right: none;
	}

	.table-data {
		background-color: white;
		border: 1px solid rgb(204,204,204);
		text-align: center !important;
		vertical-align: middle !important;
	}
	
	.table-data:first-child {
		border-left: none;
		padding-left: 1em;
	}

	.table-data:last-child {
		border-right: none;
		padding-right: 1em;
	}
	
	.table-text {
		background-color: white;
		border: 1px solid rgb(204,204,204);
		text-align: left !important;
		vertical-align: middle !important;
	}
	
	.table-text:first-child {
		border-left: none;
		padding-left: 1em;
	}

	.table-text:last-child {
		border-right: none;
		padding-right: 1em;
	}

	.table-key {
		background: #fafcfe;
		border: 1px solid rgb(204, 204, 204);
		text-align: center !important;
		vertical-align: middle !important;
	}
	
	.table-key-left {
		text-align: left !important;
	}
	
	.table-key:first-child {
		border-left: none;
	}
	
	.table-footer {
		background: #eef3fd;
		font-weight: bold;
		font-size: 0.8em;
		border: 1px solid rgb(80, 80, 80);
		text-align: center !important;
	}

	.table-footer:first-child {
		border-left: none;
	}

	.table-footer:last-child {
		border-right: none;
	}
}


.link_box {
  display: inline-block;
  border: 1px solid #dacffa;
  background: #f6f8fd;
  border-radius: 4px;
  padding: 2px 8px;
  font-weight: bold;
  color: #4e3f7a;
}
.link_box:hover {
  border: 1px solid #ccbff4;
  background: #f5f2fb;
  color:#2d2450;
}